<!DOCTYPE html>
<html lang="PT-br">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/cadastroalunos.css' %}">
        <title>CADASTRO</title>
        <body>
            <header class="header">
                <img src="{% static 'img/camargo att.png' %}" alt="Logo" class="img01">
                <nav class="navbar">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'facemap' %}">FaceMap</a>
                    <a href="{% url 'sobre' %}">Sobre nós</a>
                </nav>
                <!-- Novo elemento: Nome do usuário logado -->
                <div class="user-info">
                    <i class='bx bxs-user'></i>
                    <span class="username">Usuário Logado</span>
                    <button class="logout-button">Sair</button>
                </div>
            </header>
        </body>
    </html>