<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/editarusuario.css' %}">
    <title>EDITAR USUARIO</title>
</head>
<body>
    <header class="header">
        <img src="{% static 'img/camargo att.png' %}" alt="Logo" class="img01">
        <nav class="navbar">
            <a href="{% url 'cadastroalunos' %}">Cadastrar</a>
            <a href="{% url 'facemap' %}">FaceMap</a>
            <a href="{% url 'sobre' %}">Sobre nós</a>
        </nav>
        <!-- Novo elemento: Nome do usuário logado -->
        <div class="user-info">
            <i class='bx bxs-user'></i>
            <span class="username">Usuário Logado</span>
            <button class="logout-button">Sair</button>
        </div>
    </header>
</body>
</html>