<!DOCTYPE html>
<html lang="PT-br">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
        <title>ETEC CAMARGO ARANHA</title>
        <body>
            <header class="header">
                <div class="logo-container">
                    <img
                        src="{% static 'img/camargo att.png' %}"
                        alt="Logo da Instituição"
                        class="logo">
                </div>
                <nav class="navigation">
                    <ul>
                        <li>
                            <a href="/">Início</a>
                        </li>
                        <li>
                            <a href="/sobre">Sobre</a>
                        </li>
                        <li>
                            <a href="/contato">Cadastro</a>
                        </li>
                    </ul>
                </nav>
                <div class="user-actions">
                    <a href="/perfil">
                        <img
                            src="{% static 'images/user-profile.png' %}"
                            alt="Perfil do Usuário"
                            class="user-img">
                    </a>
                    <a href="/logout" class="logout">
                        <img src="{% static 'images/logout.png' %}" alt="Sair" class="logout-img">
                    </a>
                </div>
            </header>
        </body>
    </html>