<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <title>ETEC CAMARGO ARANHA</title>
</head>
<body>
    <header class="header">
        <img src="{% static 'img/camargo att.png' %}" alt="Logo" class="img01">
        <nav class="navbar">
            <a href="{% url 'cadastroalunos' %}">Cadastrar</a>
            <a href="{% url 'facemap' %}">FaceMap</a>
            <a href="{% url 'sobre' %}">Sobre nós</a>
        </nav>
        <!-- Novo elemento: Nome do usuário logado -->
        <div class="user-info">
            <i class='bx bxs-user'></i>
            <span class="username">Usuário Logado</span>
            <button class="logout-button">Sair</button>
        </div>
    </header>
    <main>
        <!-- Caixa de reconhecimento facial -->
    <div class="box recognition-box">
        <h2>Reconhecimento Facial</h2>
        <p>Faça o reconhecimento facial para acessar seu perfil. O sistema usa sua imagem para autenticar sua identidade.</p>
        <img src="https://via.placeholder.com/400x300" alt="Área de reconhecimento facial">
        <button id="recognize-button">Reconhecer</button> <!-- Botão para reconhecimento -->
    </div>
        <!-- Caixa de cadastro/edição de usuário -->
    <div class="box user-box">
        <h2>Edição de Usuário</h2>
        <p>Altere suas informações pessoais para começar a utilizar nossos serviços.</p>
        <div class="user-image-placeholder">
            <img src="https://via.placeholder.com/150" alt="Imagem de Usuário" class="user-image">
            </div>
        <button><a href="{% url 'editar' %}">Editar</a></button>
        </div>
    </main>
    <!-- Footer -->
    <footer class="footer">
        <p>© FaceMap. Todos os direitos reservados.</p>
        <nav class="footer-nav">
            <a href="#">Política de Privacidade</a>
            <a href="#">Termos de Serviço</a>
            <a href="#">Contato</a>
        </nav>
    </footer>
</body>
</html>