<!DOCTYPE html>
<html lang="pt-br">
<head>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/sobre.css' %}">
<title>Sobre Nos</title>
       <body>
       <header class="header">
        <img src="{% static 'img/camargo att.png' %}" alt="Logo" class="img01">
            <nav class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'cadastroalunos' %}">Cadastrar</a>
            <a href="{% url 'facemap' %}">FaceMap</a>
            </nav>
            <!-- Novo elemento: Nome do usuário logado -->
        <div class="user-info">
            <i class='bx bxs-user'></i>
            <span class="username">{{ usuario_nome }} <!-- Variável de contexto passada da view --></span>
            <!-- Botão de Logout -->
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-button">Sair</button>
            </form>
        </div>
</header>
<main>
    <div class="container">
        <h1>Equipe do FaceMap</h1>
        <p>Conheça os participantes e suas responsabilidades no projeto</p>
    </div>
</main>
<section class="team">
    <div class="container">
        <div class="team-member">
            <h2>Guilherme</h2>
            <p><strong>Responsável por:</strong>Desenvolvedor Frontend</p>
            <p><strong>Contribuições:</strong> Criação de Layout, Estilização, toda parte visual e Contribuição Backend (Django e APIs)</p>
            <div class="links">
                <a href="https://github.com/Klauk4sz" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/guilherme-santos-ab5794287/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="team-member">
            <h2>Higor</h2>
            <p><strong>Responsável por:</strong> Desenvolvimento Backend e Pesquisa de Campo</p>
            <p><strong>Contribuições:</strong> Teste de Parametros para o Reconhecimento e Coleta de Informações </p>
            <div class="links">
                <a href="https://github.com/Senhorracional" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/higor-camacho-4b78b5226/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="team-member">
            <h2>Matheus</h2>
            <p><strong>Responsável por:</strong> Desenvolvimento Backend e pesquisa de Campo</p>
            <p><strong>Contribuições:</strong>Teste de Parametros para o Reconhecimento Facial e Coleta de Informações </p>
            <div class="links">
                <a href="https://github.com/MatheusHenriqueFC" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/matheus-henrique-ferreira-costa-273607263/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="team-member">
            <h2>Ryan</h2>
            <p><strong>Responsável por:</strong> Desenvolvimento Backend (Django, APIs)</p>
            <p><strong>Contribuições:</strong> Criação das APIs de reconhecimento facial, integração do banco de dados e segurança de acesso.</p>
            <div class="links">
                <a href="https://github.com/RyanPsantos" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/ryan-pereira-933218243/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="team-member">
            <h2>Thiago</h2>
            <p><strong>Responsável por:</strong> Banco de Dados e Pesquisa de Campo</p>
            <p><strong>Contribuições:</strong> Criação do Banco de Dados e Coleta de Informações</p>
            <div class="links">
                <a href="https://github.com/ThiagoTasi" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/thiago-t-66399514a/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="team-member">
            <h2>Yvisom</h2>
            <p><strong>Responsável por:</strong> Documentação</p>
            <p><strong>Contribuições:</strong>Criação, Escrita e formatação da Documentação</p>
            <div class="links">
                <a href="https://github.com/YvisomM" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/yvisom-manoel-2761a3284/" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
</section>
</main>
<footer class="footer">
    <p>© FaceMap. Todos os direitos reservados.</p>
    <nav class="footer-nav">
        <a href="#">Política de Privacidade</a>
        <a href="#">Termos de Serviço</a>
        <a href="#">Contato</a>
    </nav>
</footer>
<script src="{% static 'js/sobre.js' %}"></script>
</body>
</html>