@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding-top: 20px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    background: #149ADB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.img01 {
    width: 150px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navbar a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.username {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.bx {
    color: #ffffff;
}
.logout-button {
    background-color: #DB1428;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.logout-button:hover {
    background-color: #B11220;
}
h2 {
    color: #333;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-grow: 1;
    margin-top: 20px;
}
.form-container {
    background-color: #fff;
    padding: 30px;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}
.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;  /* Permite que os itens se ajustem em telas menores */
}
.input-group label {
    flex-basis: 40%;
    color: #555;
    font-weight: 600;
    margin-bottom: 5px;
    min-width: 130px; /* Define uma largura mínima para os rótulos */
}
.input-group input, .input-group select {
    flex-basis: 55%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    min-width: 150px;  /* Define uma largura mínima para os campos */
}
.input-group select {
    flex-basis: 57%;
}
.input-group button {
    padding: 10px;
    background-color: #149ADB;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-basis: auto;
}
.input-group button:hover {
    background-color: #3a6ea5;
}
canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.capture-label {
    margin-right: 10px;
    flex-basis: auto;
}
#camera-container {
    text-align: center;
    margin-top: 20px;
}
#camera-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
#capture-button {
    display: inline-block;
    margin-bottom: 10px;
}
#take-photos-button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    background-color: #149ADB;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#take-photos-button:hover {
    background-color: #3a6ea5;
}
video {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #149ADB;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
.form-container button:hover {
    background-color: #3a6ea5;
}
.footer {
    background-color: #149ADB;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100vw;
    left: 0;
    margin: 0;
}
.footer-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}
.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.footer-nav a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .form-container {
        padding: 15px;
        max-width: 100%;
    }
    .form-container h2 {
        font-size: 18px;
    }
    .input-group input, .input-group select {
        font-size: 12px;
        padding: 7px;
    }
    .form-container button {
        font-size: 14px;
    }
    .footer-nav {
        flex-direction: column;
        gap: 10px;
    }
}