@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html, body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaça o conteúdo e o footer */
    background-color: #c7c7c7;
    padding-top: 80px; /* /* Adiciona espaço para o header fixo */
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    background: #149ADB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    flex-wrap: wrap; /* Permite que o conteúdo quebre para a próxima linha em telas menores */
}
.img01{
    width: 150px;
}
.navbar{
    display: flex;
    flex-wrap: wrap; /* Permite quebra em telas menores */
    justify-content: center; /* Centraliza os links */
    align-items: center;
    gap: 20px; /* Espaço entre os links */
}
.navbar a{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}
.navbar a:hover::before{
    width: 100%;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre nome e botão */
}
.username{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.logout-button{
    background-color: #DB1428;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.logout-button:hover{
    background-color: #B11220;
}